body {
    font-family: Arial, Helvetica, sans-serif;
    
    }
  
    /* The Modal (background) */
    .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    }
  
    .modal.active {
    display: block;
    }
  
    /* Modal Content */
    .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    }
  
    /* The Close Button */
    .close {
    color: #aaaaaa;
    margin-left: auto;
    font-size: 28px;
    font-weight: bold;
    }
  
    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }

    
    .noactive{
        display: none;
    }
    .active{
        display: block;
    }
